.footer {
  background-color: var(--header-footer-color);
  padding: 60px 0px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  &__container {
    display: flex;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__nav {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }
  }
}

.address {
  font-style: normal;

  &__text {
    margin-bottom: 9px;

    color: var(--primary-section-color);
    font-size: 14px;
    line-height: 1.7;
  }

  &__link {
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 1.7;

    &:hover,
    &:focus {
      color: var(--visual-text-color);
    }
  }

  &__item {
    margin-bottom: 9px;
  }
}

.cta {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  &__title {
    margin-bottom: 20px;

    color: var(--primary-section-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
