$hero-image-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);

.hero {
  text-align: center;
  padding: 118px 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--header-footer-color);
  background-image: $hero-image-gradient, url(../images/studio/hero_mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: $hero-image-gradient,
      url(../images/studio/hero_mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: $hero-image-gradient,
      url(../images/studio/hero_tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: $hero-image-gradient,
        url(../images/studio/hero_tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
    background-image: $hero-image-gradient, url(../images/studio/hero.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: $hero-image-gradient, url(../images/studio/hero@2x.jpg);
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;
    color: var(--primary-section-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      min-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;

    color: var(--primary-section-color);
    background-color: var(--visual-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
