.specifics-section {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }

  padding-top: 0px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__cards {
    position: relative;
    transform: scale(1);

    transition: transform 250ms var(--timing-function);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__depiction {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 27px 0px;

    background-color: rgba(47, 48, 58, 0.8);
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-section-color);
  }
}
