.team-section {
  background-color: var(--additional-section-color);

  &__name {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &__job {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &__team-wrapper {
    padding: 30px 0px;
  }

  &__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__avatar {
    background-color: var(--primary-section-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__avatar:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
